@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.App {

  text-align: center;
}

.header {
  margin-top: 5%;
  font-family: 'Fredoka One', cursive;
}

.miniheader {
  font-family: 'Fredoka One', cursive;
  margin: 2%;
}

.button {
  margin-bottom: 5%

}

.answerbutton {
  margin: 5%

}

.deletebutton {

}

.form {
  margin: 5%;

}

.navigation {
  margin-bottom: 5%;
}

.footer {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

.footernavigation {
}

.logo {
  margin-bottom: 5%;
}

.SaanaRailo {

  margin: 1%;
}

.JuusoLeppanen {

  margin: 1%;
}

.InkaKekalainen {

  margin: 1%;
}

.RobinBlomberg {

  margin: 1%;
}
